/*General*/
body {
    font-family: SansSerif;
    width: 100%;
}
div {
    display: block;
}
.mainContainer {
    padding: 0 10px;
    clear: both;
    margin: 0 auto;
    background: #242424 no-repeat 0 0;
    font-size: 20px;
}
.mainContainer ul{
    padding-left: 10%;
}
.mainContainer a {
    text-decoration: none;
    color: white;
}
.col-md-6, .col-md-2, .col-md-4 {
    width: 33%;
    float: left;
    padding: 0%;
    padding-bottom: 0%;
    display: block;
    align-content: center;
    border-color: black;
}
/*Header*/
.jumbotron {
    text-align: center;
}
/*Footer*/
.conyFooter {
    background: #242424 no-repeat 0 0;
    color: #818181;
    clear: both;
    padding: 53px 0 44px 0;
    margin: auto;
    overflow: auto;
}
.footerSubMenu-1, .footerSubMenu-2, .footerSubMenu-3, .footerSubMenu-4 {
    display: block;
    float: left;
    width: 20%;
    min-width: 250px;
    padding: 2%;
}
.footerBottom {
    background-color: #141414;
    color: #656565;
    padding-bottom: 20px;
    text-align: center;
}
/*Index*/
#whatIs p {
    font-size: 24px;
    text-align: center;
}
#categoryList li {
    list-style-type: none;
    clear: left;
}
#categoryList li img, #categoryList li h2 {
    float: left;
    font-size: 20px;
}
#categoryList a:link, #categoryList a:visited {
    text-decoration: none;
    color: forestgreen;
}
#categoryList a:hover {
    text-decoration: underline;
    color: darkgreen;
}
#categoryList p {
    font-size: 30px;
}
#categoryList .col {
    min-width: 240px;
    color: black;
}
/*About*/
.aboutSide {
    text-align: center;
}
/*Nav*/
.navbar {
    width: 90%;
    /*background-color: #555;*/
    overflow: auto;
}
/*Categories*/
#catAgriculture h1 {
    padding-top: 10px;
    padding-bottom: 5px;
}
#catAgriculture ul li {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    background-color: white;
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(156, 252, 0, 0.5);
}
#catAgriculture p {
    font-size: 20px;
}
#catAgriculture a:link, #catAgriculture a:visited {
    text-decoration: none;
    color: mediumblue;
}
#catAgriculture a:hover {
    text-decoration: underline;
    color: darkblue;
}
/*Form*/
#orgForm {
    /*background-color: #cccccf;*/
}
#aboutText p {
    text-align: center;
    font-size: 24px;
}
.err {
    color:darkred;
    display:none;
}
.wpcf7-form-control-wrap {
    width: 100%;
}
fieldset:last-of-type .col, fieldset:first-of-type .col {
    min-width: 240px;
}
.form-check {
    float: left;
}
form#orgForm {
    /*text-shadow: 1px 1px #303030;*/
    /*border-radius: 5px;*/
    /*border-style: solid;*/
    /*border-color: #050505;*/
    /*
    padding: 5px;
    */
    color: black;
    overflow: auto;
}
form#orgForm .row {
    /*background-color: rgb(186, 186, 252);*/
    padding-bottom: 10px;
}
#orgForm .col {
    min-width: 240px;
}
fieldset {
    background-color: rgba(156, 252, 0, 0.5);
    border-style: solid;
    /*border-color: #141414;*/
}
.btn-primary {
    margin: auto;
}
#phone {
    border-radius: 5px;
    padding-bottom: inherit;
}
label {
    font-size: 20px;
}
fieldset, fieldset.div {

}
legend {
    text-transform: uppercase;
    text-align: center;
}
